:root {
  --primary-color: #f9f9f9;
  --hover-color: #f1f1f1;
  --palegreen-color: #f4ff5b;
  --whiteColor: #fff;
  --blackColor: #000;
  --greyText: #808080;
  --bgColor: hsl(113, 11%, 85%);
  --inputColor: hsl(300, 12%, 97%);
  /* Font Sizes */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
}

.sidebar {
  background: var(--whiteColor);
  box-shadow: 1px 0px 4px var(--greyText);
  width: 200px;
  height: 100%;
  gap: 3rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.sidebar .logoDiv {
  padding-left: 1.5rem;
  cursor: pointer;
}

.sidebar img {
  max-width: 100px;
  margin-right: 0.5rem;
  background: var(--inputColor);
  border-radius: 2px;
  padding: 0.2rem;
}

/* Nuevos estilos para el botón de logout */
.logout-btn {
  background: none;
  border: none;
  width: 100%;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--greyText);
  transition: all 0.3s ease;
}

.logout-btn:hover {
  color: var(--palegreen-color);
  background: var(--hover-color);
}

.logout-btn .icon {
  margin-right: 0.5rem;
}

.logout-btn .smallText {
  font-size: var(--smallFontSize);
}