option_settings:
  aws:elasticbeanstalk:container:nodejs:
    ProxyServer: nginx
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: public
    /uploads: uploads
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /api/health
    Port: 8080
    Protocol: HTTP
    MatcherHTTPCode: 200
    StickySessionsEnabled: false
    StickySessionsCookieName: AWSALB