option_settings:
  aws:elasticbeanstalk:application:environment:
    DB_HOST: [TU_ENDPOINT_RDS_ACTUAL]
    DB_USER: artesa_admin_dev
    DB_DATABASE: artesa-dev-db
    DB_PORT: 5432
    CORS_ALLOW_ALL_IN_DEV: false
    STORAGE_MODE: s3
    AWS_REGION: us-east-1
    SAP_SERVICE_LAYER_URL: https://solidda-sl.heinsohncloud.com.co:50000/b1s/v2
    SAP_USERNAME: manager
    SAP_COMPANY_DB: MOVII_PRUEBAS
    SAP_SYNC_SCHEDULE: "0 0 * * *"
    SAP_IMAGES_BASE_URL: https://solidda-sl.heinsohncloud.com.co:50000/b1s/v2/Attachments2
    SAP_SYNC_BATCH_SIZE: 100
    SAP_GROUP_CODE: 127
    SAP_INSTITUTIONAL_GROUP_CODE: 103
    RATE_LIMIT_STANDARD: 1000
    RATE_LIMIT_SENSITIVE: 500
    RATE_LIMIT_WINDOW: 900000
    RECAPTCHA_ENABLED: true
    RECAPTCHA_MIN_SCORE: 0.5
    RECAPTCHA_BYPASS: false