option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: development
    PORT: 8080
    NPM_CONFIG_PRODUCTION: false
    DEBUG: "*"
    LOG_LEVEL: debug
    DB_HOST: artesa-dev-db.csbsswgcszct.us-east-1.rds.amazonaws.com
    DB_USER: artesa_admin_dev
    DB_PASSWORD: H+MbQeThWmZq4t7w!
    DB_DATABASE: artesa-dev-db
    DB_PORT: 5432
    JWT_SECRET: 'p2s5v8y/B?E(H+MbQeThWmZq4t7w!z%C'
    CORS_ALLOW_ALL_IN_DEV: true
    STORAGE_MODE: s3
    AWS_REGION: us-east-1
    AWS_S3_BUCKET_NAME: artesa-documents-staging
    S3_URL_EXPIRATION: 3600
    SMTP_HOST: sandbox.smtp.mailtrap.io
    SMTP_PORT: 587
    SMTP_USER: 08664dae585774
    SMTP_PASS: 70ae7b88df0748
    SMTP_FROM: noreply@laartesa.com
    FRONTEND_URL: https://d1bqegutwmfn98.cloudfront.net/
    SAP_SERVICE_LAYER_URL: https://solidda-sl.heinsohncloud.com.co:50000/b1s/v2
    SAP_USERNAME: manager
    SAP_PASSWORD: manager
    SAP_COMPANY_DB: MOVII_PRUEBAS
    SAP_SYNC_SCHEDULE: "0 0 * * *"
    SAP_IMAGES_BASE_URL: https://solidda-sl.heinsohncloud.com.co:50000/b1s/v2/Attachments2
    SAP_SYNC_BATCH_SIZE: 100
    SAP_GROUP_CODE: 127
    SAP_INSTITUTIONAL_GROUP_CODE: 103
    RATE_LIMIT_STANDARD: 1000
    RATE_LIMIT_SENSITIVE: 500
    RATE_LIMIT_WINDOW: 900000
    RECAPTCHA_ENABLED: true
    RECAPTCHA_SECRET_KEY: 6LdEtQkrAAAAAOUlmVjLM6mGDjyT3jEpgEdsyYwI
    RECAPTCHA_MIN_SCORE: 0.3
    RECAPTCHA_BYPASS: false