// Variables de colores
$primary-color: #687e8d;
$secondary-color: #f6db8e;
$hover-color: #f6db8e;
$accent-color: #f6754e;
$white-color: #ffffff;
$black-color: #000000;
$grey-text: #808080;
$bg-color: #687e8d;
$input-color: #f6db8e;
$button-color: #f6754e;
$danger-color: #e74c3c;
$text-color: #333333;

// Tamaños de fuente
$biggest-font-size: 2.5rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$normal-font-size: 0.938rem;
$small-font-size: 0.813rem;
$smallest-font-size: 0.75rem;

// Tamaños de padding y margin
$sidebarWidth: 260px;
$collapsedSidebarWidth: 80px;
$transitionSpeed: 0.3s;